p{
font-size: 100px;
color: rgb(147, 36, 190);
background-color: lightpink;

}
.p2{
font-size: 10em;
color: rgb(32, 32, 32);
background-color: grey;

}
.p3{
font-size: 10rem;
color: rgb(224, 28, 28);
background-color: lightcoral;

}
